body {
  margin: 0;
  padding: top;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  line-height: 28px;
  color: rgba(255, 255, 255, 0.9);
  background-image: url(https://steamcdn-a.akamaihd.net/steamcommunity/public/images/items/441870/72cd26e14b7fcba028206a06f10548c0d5174cfc.jpg);
  background-attachment: fixed;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

a {
  color: #ffffff;
}

.container {
  margin: 0 auto;
  padding: 20px 0;
  width: 900px;
}

.page-title {
  margin-bottom: 40px;
  font-weight: 400;
  font-family: "Fredoka One", cursive;
  line-height: 2;
  text-align: center;
}

.photo {
  float: right;
  padding-left: 50px;
  padding-bottom: 50px;
}

.section-title {
  line-height: 1.5;
  font-family: "Sriracha", cursive;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
